
body, html {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  max-width: 100% !important;
  background: #0d041b;
  font-family: 'Helvetica','Courier New', Courier, monospace !important;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #0d041b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box {
  max-width: 90vw;
  height: auto;
  color: #fff;
  font-family: 'Helvetica','Courier New', Courier, monospace !important;
}

h1{
  color: #FFF;
}

p{
  font-size: .96em;
}

a{
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  transition: .3s all ease-in;
}

a:hover{
  transition: .3s all ease-in;
  color: rgb(89, 2, 252);
}

.button{
  display: inline-block;
  margin: 33px 0;
  padding: 10px 40px;
  background-color: #020202;
  color: #fff;
  border-radius: 5px;
}