.tecnologia{
    background: #009de6;
}

.design{
    background: #e60058;
}

.filme{
    background: #e6d700;
}

.eco{
    background: #00b445;
}

.tecnologia{
    background: #009de6;
}

.tecnologia{
    background: #009de6;
}

.flex{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card{
    max-width: 100%;
    height: 100%;
    margin: 1em auto;
    border-radius: 3px;
    color: #333;
    transition: all .3s ease;   
}

.card:hover{
    padding: .2em;
    box-shadow: 0 1px 9px rgba(0,0,0,.1);
    transition: all .3s ease;
}

.tag{
    text-align: center;
    padding: 4px 10px;
}

.tag a{
    margin: .4em 0;
    color: #FFF;
}

.tag a:hover{
    color: #FFF;
}

.image{
    width: 100%;
    margin: .5em 0;
}

.data{
    font-size: 12pt;
    color: #aaa;
}

.title{
    margin: 0;
    padding: 0;
    font-size: 20pt;
    font-weight: 600;
    color: #FFF;
    transition: all .2s ease;
}

.title:hover{
    color: #FFF;
    transition: all .2s ease;
}

.about{
    font-size: 12pt;
    color: #ddd;
}